@import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');

.clock-container
{
  pointer-events: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 15dvw;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;

  user-select: none;

  color: rgba(255, 255, 255, 1);
  mix-blend-mode: overlay;
  z-index: 2137;


  /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;


  background: linear-gradient(90deg, #FF6B6B, #A18CD1, #FBC2EB, #FF6B6B);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.clock-char
{
  display: inline-block;
  width: 1.4ch;
  text-align: center;
}

@keyframes gradientShift
{
  0%
  {
    background-position: 0% 50%;
  }

  50%
  {
    background-position: 100% 50%;
  }

  100%
  {
    background-position: 0% 50%;
  }

}